*.o
*.d
test/test
test/test.xcodeproj/project.xcworkspace/xcshareddata
test/test.xcodeproj/project.xcworkspace/xcuserdata
test/test.xcodeproj/xcshareddata
test/test.xcodeproj/xcuserdata
test/.vs
test/Win32
test/x64
